body {
    background: linear-gradient(180deg, #D6B2AE 71%, #CEA39F 95%);
    padding: 0;
    margin: 0;

    position: relative;
}

/* PROFIL SECTION */

#profil {
    background-color: #F5E4D7;
    border: 8px #839788 solid;
    border-radius: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;

    width: 85%;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

}

#profil > p {
   font-family: "Golos Text", sans-serif;
   font-weight: 400;
   color: #5F7164;
   font-size: 24px;
   margin-bottom: 0;
}

h1 {
    color: #5F7164;
    font-family: "Hachi Maru Pop";
    font-size: 128px;
    margin: 0;
}

#feuille1, #feuille2 {
    position: absolute;
}

#feuille1 {
    top: -40px;
    left: 0;
}

#feuille2 {
    right: 0;
    top: 410px;
}

/* WELCOME SECTION */

#welcome {
    margin-top: 123px;
    text-align: center;
}

#welcome > h2 {
    font-family: "Hachi Maru Pop";
    font-size: 96px;
    margin: 0;
    color: #5F7164;
    font-weight: 200;
}

#welcome > p {
    font-family: "Golos Text", sans-serif;
    color: #5F7164;
    font-size: 20px;
    margin-top: 30px;
}

/* PROJECTS SECTION */

#mesprojets {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre-presentation {
    font-size: 64px;
    margin: 0;
    color: #5F7164;
    font-weight: bold;
    font-family: "Golos Text", sans-serif;
}

#mesprojets > .titre-presentation {
    margin-bottom: 70px;
}

#presentation {
    display: flex;
    gap: 108px;
    width: 80%;
    margin-top: 30px;
}

.projet{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5F7164;
}

.projet > p {
    width: 70%;
    margin-top: 20px;
    font-family: "Golos Text", sans-serif;
}

/* A PROPOS SECTION */

#a-propos {
    margin-top: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#a-propos > p {
    color: #5F7164;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
}

#mon-parcours {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.ligne {
    width: 200px;
    background-color: #5F7164;
    height: 2px;
}

.parcours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parcours > p {
    width: 60%;
    color: #5F7164;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
}

.parcours > h4 {
    color: #5F7164;
    font-family: "Golos Text", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/* CONTACT SECTION */

#contact {
    margin: 120px 0 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact > p {
    color: #5F7164;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
}

#contact > button {
    margin-top: 70px;
    width: 247px;
    height: 65px;
    text-align: center;

    border-radius: 20px;
    border: 4px solid #5F7164;
    padding: 18px 78px;

    background-color: #F5E4D7;

    font-size: 24px;
    color: #5F7164;
    font-family: "Golos Text", sans-serif;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER SECTION */

footer {
    margin-top: 150px;
    width: 100%;
    height: 180px;
    background-color: #F5E4D7;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
}

footer a {
    text-decoration: none;
    font-size: 20px;
    color: #5F7164;
    font-family: "Golos Text", sans-serif;
}