.projetimg {
    transition: ease .2s;
    width: 300px;
    height: 300px;
}

.projetimg:hover {
    transform: scale(1.2)
}

#mecrire:hover{
    background-color: #5F7164;
    color: #F5E4D7;
    border-color: #F5E4D7;
}

footer a:hover {
    text-decoration-style:solid;
    text-decoration-line: underline;
}